/SuggMovies/nbproject/private/
/SuggMovies/SuggMovies-war/nbproject/private/
/SuggMovies/SuggMovies-ejb/nbproject/private/
/SuggMovies/SuggMovies-ejb/dist/
/SuggMovies/SuggMovies-ejb/build/
/SuggMovies/SuggMovies-war/dist/
/SuggMovies/SuggMovies-war/build/
/SuggMovies/build/
/SuggMovies/dist/
/subProjetos/GoogleBooks/dist/