<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>LoggerBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.br.lp3.logger.LoggerBeanInterface</local>
        <ejb-link>SuggMovies-ejb.jar#LoggerBean</ejb-link>
    </ejb-local-ref>
    <resource-ref>
        <res-ref-name>java:comp/DefaultJMSConnectionFactory</res-ref-name>
        <res-type>javax.jms.ConnectionFactory</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <message-destination-ref>
        <message-destination-ref-name>jms/logger</message-destination-ref-name>
        <message-destination-type>javax.jms.Queue</message-destination-type>
        <message-destination-usage>Produces</message-destination-usage>
        <message-destination-link>SuggMovies-ejb.jar#jms/logger</message-destination-link>
    </message-destination-ref>
    <message-destination-ref>
        <message-destination-ref-name>jms/myQueue</message-destination-ref-name>
        <message-destination-type>javax.jms.Queue</message-destination-type>
        <message-destination-usage>Produces</message-destination-usage>
        <message-destination-link>jms/myQueue</message-destination-link>
    </message-destination-ref>
</web-app>
