/*
Here comes the text of your license
Each line should be prefixed with 
*/
/* 
    Created on : 08/03/2016, 13:10:56
    Author     : ezequieloliveira
*/

html {
    margin: 0px;
    padding: 0px;
}

*:focus {
    outline: none;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

input[type=search], input[type=email], input[type=password] {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 99%, #cccccc 99%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 99%,#cccccc 99%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 99%,#cccccc 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
    border: 0px solid;
}