section {
    display: block;
    margin-top: 100px;
}

.itemSearch {
    display: flex;
    justify-content: space-around;
}

.go-back {
    display: block;
    margin-top: 50px;
}

.go-back a {
    color: #333333;
    font-family: Arial;
    font-size: 20px;
}